# Игнорируем папку сборки
build/

# Игнорируем настройки редактора VS Code (личные настройки)
.vscode/

# Игнорируем исполняемые файлы Windows
*.exe

# Игнорируем объектные файлы (если появятся при компиляции)
*.o
*.obj
